@import '../../styles/colors.scss';
.bar{
    max-width: 1280px;
    min-width: 250px;
    margin:0 auto;
    overflow:hidden;
   form{
        max-width: 1280px;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        gap:20px;
        margin:50vh auto 0;
        padding: 0 10px;
        transform: translateY(-50%);
        input, button{
            border:none;
            outline: none;
            text-transform: uppercase;
            height: 50px;
            width: 100%;
            max-width: 900px;
            margin:0 auto;
        }
        h1{
            color:var(--white);
            font-size:15vh;
        }
        p{
            font-size: 22px;
            color:var(--white);
            b{
                color:var(--yellow);
            }
        }
        input{
            border:none;
            background:none;
            text-align: center;
            border-bottom:3px solid var(--yellow);
            color:var(--white);
            &::placeholder{
                color:var(--gray);
            }
        }
        button{
            background: var(--yellow);
            color:var(--blue);
        }
    }
   &.active-bar{
        form{
            grid-template-columns: 75px auto 75px;
            gap:5px;
            align-items: flex-end;
            transform: translateY(0);
            margin:20px auto;
            input, button{
                max-width: 1280px;
            }
            h1{
                font-size: 24px;
            }
            p{
                display: none;
            }
            input,button{
                height: 30px;
            }
        }
    }
    @media only screen and (min-width:768px){
        &.active-bar{
            form{
                grid-template-columns: 150px auto 150px;
                h1{
                    font-size:38px ;
                }
                input, button{
                    height: 40px;
                    font-size: 20px;
                }
            }
       }
    }  
}