@import '../../styles/colors.scss';

.bar{
    position: relative;
    display: block;
    max-width: 1280px;
    min-width: 250px;
    margin:0 auto;
    form{
        width: calc(100% - 40px);
        height: 100vh;
        margin:0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        h1{
            font-size: 15vh;
            color:var(--white);
        }
        p{
            max-width: 650px;
            font-size: 4vh;
            text-align: center;
            color: var(--white);
            margin-bottom: 40px;
            b{
                color:var(--yellow);
            }
        }
        input, button{
            width: 100%;
            min-width: 100px;
            height: 70px;
            font-size: 24px;
            border:none;
            text-transform: uppercase;
        }
        input{
            max-width: 850px;
            text-align: center;
            background: none;
            border-bottom:10px solid var(--yellow);
            outline: none;
            cursor:context-menu;
            color:var(--white);
            &::placeholder{
                color:var(--gray);
            }
        }
        button{
            max-width: 350px;
            background:var(--yellow);
            color:var(--blue);
            border-radius: 2px;
            cursor: pointer;
        }
    }
    &.bar-active{
        margin:20px auto;
        form{
            flex-direction: row;
            height: auto;
            align-items: flex-end;
            gap:50px;
            h1{
                font-size:6vh;
            }
            p{
                display: none;
            }
            input, button{
                height: 40px;
                font-size: 20px;
            }
            input{
                border-width: 5px;
            }
            button{
                max-width: 200px;
            }
        }
    }
}