@import '../../styles/colors.scss';

.tableau{
    position: relative;
    max-width: 1280px;
    margin:15% auto 0;
    > div{
        margin:0 20px;
    }
    .main-data{
        align-items: flex-end;
        display: flex;
        gap:50px;
        .temperature{
            h1{
                font-size: 25vh;
                color:var(--white);
            }
        }
        .condition{
            margin-bottom: 27px;
            p{
                font-size:4.5vh;
                color:var(--black);
                svg{
                    font-size: 3.2vh;
                    margin-right: 10px;
                }
            }
            h2{
                font-size: 10vh;
                color:var(--white);
            }
        }
    }
    .sub-data{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 50px;
        gap:50px;
        .forecasts{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px;
        }
        .observations{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:20px 50px;
            span{
                font-size: 24px;
                color:var(--yellow);
            }
            p{
                font-size: 16px;
                margin-left: 10px;
                color:var(--white);
            }
        }
    }
    @media only screen and (max-width:1024px){
        margin:0 auto;
        > div{
            margin:0 10px;
        }
        .main-data{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap:10px;
            text-align: center;
            .condition{
                h2{
                    font-size:8vh;
                }
            }
        }
        .sub-data{
            flex-direction: column;
            align-items:center;
        }
    }
}