@import '../../styles/colors.scss';

.tableau{
    position: relative;
    max-width: 1280px;
    padding:0 20px;
    margin:5vh auto 0;
    > div{
        width: 100%;
        margin:0 auto;
    }
    .main-data{
        width: 100%;
        text-align: center;
        .location{
            color:var(--black);
            font-size: 1.5rem;
            svg{
                font-size:1rem;
                margin-right:5px;
            }
        }
        .temperature{
            h1{
                font-size: 25vh;
                color:var(--white);
            }
        }
        .condition{
            h2{
                font-size: 8vh;
                color:var(--white);
            }
        }
    }
    .sub-data{
        margin-top:40px;
        .forecasts{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap:3px;
        }
        .observations{
            margin:30px auto;
            max-width: 400px;
            text-align: center;
            display: grid;
            grid-template-columns:1fr 1fr;
            gap:20px;

            span{
                font-size:18px;
                color:var(--yellow);
            }
            p{
                font-size:14px;
                color:var(--white);
            }
        }
    }


    @media only screen and (max-width:1024px){
       margin:10px auto;
    }
}